.rating_box {
  display: flex;
  align-items: center;
}
.reviews {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  margin-left: 5px;
}
.icon_star {
  fill: var(--color-4);
}
