.modal_backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  overflow: auto;
}

.modal_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 1001;
  border-radius: 20px;
  padding: 40px;
  width: 902px;
}
.img_box {
  width: 290px;
  height: 310px;
  border-radius: 10px;
  overflow: hidden;
}
/* img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.img_list {
  display: flex;
  gap: 16px;
}
.scroll_container {
  max-height: 400px;
  overflow-y: auto;
}
.tabs {
  display: flex;
  position: relative;
}
.tab {
}
.tab button {
  position: relative;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
  width: 100px;
  background-color: #fff;
}

.tabs::after {
  position: absolute;
  content: '';
  top: 81px;
  background-image: url(../img/sprite.svg#line);
  stroke-width: 2px;
  width: 902px;
  height: 2px;
  background-color: var(--color-6);
  display: flex;
}
button.active::after {
  position: absolute;
  content: '';
  top: 50px;
  background-image: url(../img/sprite.svg#line);
  stroke-width: 5px;
  width: 90px;
  height: 5px;
  background-color: var(--color-3);
  display: flex;
}
