.form {
  width: 400px;
  padding: 24px;
  border-radius: 10px;
  border: 2px solid;
  border-color: var(--color-6);
}
.form_title {
  margin-top: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}
.form_description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 24px;
  margin-top: 10px;
}
.label_form input,
.data input {
  margin-bottom: 10px;
  border-radius: 10px;
  text-align: left;
  width: 367px;
  padding: 18px 18px 18px 18px;
  border: var(--color-6);
  background: #f7f7f7;
}
textarea {
  background: #f7f7f7;
  border-radius: 10px;
  border-color: transparent;
  width: 364px;
  height: 90px;
  padding: 18px 18px 18px 18px;
}
.icon_data {
  stroke: black;
  fill: var(--color-6);
}
.calendar {
  background-color: transparent;
  margin-top: 4px;
}
.react-datepicker-wrapper {
  border: none;
  position: relative;
}

.calendar_color {
  color: var(--accent-color);
  background-color: transparent;
  outline: none;
  border: none;
}
.calendar_div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--color-6);
  width: 403px;
  margin-bottom: 15px;
  border-radius: 10px;
}
.react-datepicker-popper {
  position: absolute;
  right: 50px;
}
.calendar_div input {
  padding: 18px;
  width: 300px;
  padding-left: 0;
  text-align: left;
}
.send:hover {
  background-color: #d84343;
}
textarea {
  resize: none;
  overflow: hidden;
}
textarea::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
